@media (min-width: 1921px) {
  * {font-size: 20px;}

  h1 {font-size: 96px;}
  h2 {font-size: 60px;}
  h3 {font-size: 48px;}
  h4 {font-size: 36px;}
  h5 {font-size: 24px;}

  .scroll_up__button {width: 80px; height: 80px;}


  .header, .header2 {
    height: 100px;
  }

  .header__logo {
    height: 60px;
  }


  .main_banner__img {
    height: 65vh;
    right: 0;
    left: auto;
  }





  .reviews {
    padding: 20vh 0 15vw;
  }


  .reviews h1 {
    padding: 0 10vw 200px;
  }

  .teachers__title {padding-top: 200px;}


  .beginning__title h3{
    max-width: 1400px;
  }




  .features,
  .rates,
  .steps,
  .pluses {
    padding: 300px 10vw;
  }


  .levels {
    padding-top: 400px;
  }

  .levels__card {
    border-left: 8px solid #0066E0;
    padding: 50px;
    padding-bottom: 150px;
  }

  .levels__card img {
    right: 50px;
    top: 50px;
  }


  .features h1{
    padding-bottom: 200px;
  }

  .rates h4,
  .steps h4 {
    max-width: 1200px;
    margin-bottom: 200px;
  }

  .rates__card {
    padding: 50px;
  }

  .pluses__card {max-width: 400px;}




}











@media (min-width: 1600px) and (max-width: 1920px) {


  .header, .header2 {
    height: 100px;
    margin-top: 0;
  }

  .header__logo {
    height: 60px;
  }

  .header .blue_button {
    padding: 20px 50px;
  }

  .main_banner__img {
    height: 600px;
    right: 0;
    left: auto;
    bottom: 150px;
  }


  .levels {
    padding-top: 400px;
  }

  .levels__card {padding-bottom: 100px;}


  .features,
  .rates,
  .steps,
  .pluses {
    padding: 250px 10vw;
  }


}




@media (min-width: 1025px) and (max-width: 1400px) {

  * {font-size: 16px;}

  h1 {font-size: 60px;}
  h2 {font-size: 36px;}
  h3 {font-size: 24px;}
  h4 {font-size: 20px;}
  h5 {font-size: 18px;}

  .blue_button {
    padding: 16px 50px;
  }

  .header {
    height: 60px;
  }

  .header__logo {
    height: 42px;
  }

  .header__nav a {
    margin-right: 30px;
  }

  .header__nav a:nth-child(4) {
    margin-right: 0;
  }

  .main_banner__img {
    height: 400px;
    right: 0;
    left: auto;
    bottom: 120px;
  }


  .teachers__avatar {
    width: 200px;
    height: 200px;
  }


  .teachers__info{
    width: 200px;
  }

  .teachers__txt {
    max-width: 350px;
  }



  .help_form {
    height: auto;
  }


  .help_form__title {
    margin-bottom: 100px;
  }

  .header, .header2,
  .main_banner,
  .levels,
  .features,
  .rates,
  .steps,
  .beginning,
  .pluses,
  .travel,
  .teachers__title, .teachers__card,
  .help_form, .pay_form__window, .free_form__window {
    padding-right: 7vw;
    padding-left: 7vw;
  }

  .teachers__title {padding-top: 200px;}
  .teachers__card {padding-top: 80px; padding-bottom: 80px;}
  .teachers__card__end {padding-bottom: 200px;}

  .beginning__title h3{
    max-width: 600px;
  }

}









@media (min-width: 768px) and (max-width: 1200px) {


  * {font-size: 16px;}

  h1 {font-size: 50px;}
  h2 {font-size: 36px;}
  h3 {font-size: 24px;}
  h4 {font-size: 20px;}
  h5 {font-size: 18px;}


  body {overflow-x: hidden;}

  .cursor {display: none;}

  .header {
    height: 100px;
  }

  .header__logo {
    height: 50px;
  }

  .header .blue_button {display: none;}

  .header2 .header__logo {display: none;}

  .drawer_label {
    order: 1;
  }






  .banner .blue_button {
    display: block;
    position: absolute;
    bottom: 60px;
  }

  .banner__img__1, .banner__img__2 {
    align-items: flex-end;
  }

  .banner__img__1 img, .banner__img__2 img {
    width: auto;
  }

  .banner__img__3 {
    height: 100vh;
    width: auto;
  }





  .main_banner__img {
    height: 40vh;
    right: 0;
    left: auto;
    bottom: 200px;
  }

  .main_banner .blue_button {
    margin-top: 200px;
  }

  .main_banner__title {
    padding-bottom: 0;
  }







  .beginning {
    grid-template-columns: 1fr;
    background-position: center;
    padding: 10vh 10vw;
  }

  .beginning__title {
    max-width: 540px
  }

  .beginning .blue_button {
    grid-column: 1/2;
    justify-self: start;
  }


  .travel__gallery {
    grid-template-columns: 1fr 1fr;
  }

  .travel__gallery__img:nth-child(2),
  .travel__gallery__img:nth-child(3) {
    grid-column: auto;
  }


  .teachers__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
  }


  .teachers__txt  {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: start;
  }

  .teachers__avatar {
    height: 200px;
    width: 200px;
  }

  .teachers__info {
    margin: 0;
  }




  .help_form {
    grid-template-columns: 1fr;
  }


  .help_form__title {
    margin-bottom: 100px;
  }

  .help_form__title h3 {
    margin-top: 20px;
  }

  .help_form .blue_button {
    grid-column: 1/2;
    justify-self: start;
    margin-top: 100px;
  }



  .free_form__buttons {
    grid-column: 1/2;
    justify-content: flex-start;
  }

  .free_form__inputs {
    grid-template-columns: 1fr;
  }


  .pay_form__buttons .blue_button,
  .free_form__buttons .blue_button,
  .pay_form__buttons label,
  .free_form__buttons label {
    width: 100%;
  }

  .pay_form__buttons .blue_button,
  .free_form__buttons label {
    margin-right: 10px;
  }

  .free_form__buttons .blue_button,
  .pay_form__buttons label {
    margin-left: 10px;
  }










  .features {grid-template-columns: 1fr 1fr; grid-row-gap: 70px; grid-column-gap: 50px;}
  .features h1 {grid-column: 1/3; padding-bottom: 50px;}


  .steps__cards {grid-template-columns: 1fr; grid-row-gap: 100px;}

  .steps__cards__item {
    align-self: start;
    max-width: 550px;
    display: grid;
    grid-column-gap: 30px;
    align-items: start;
    text-align: left;
  }

  .steps__card__number {grid-row: 1/3; height: 150px; width: 150px; -webkit-text-stroke: 2px #0066E0;}
  .steps__cards__item p, .steps__cards__item h5 {grid-column: 2/3; margin: 0;}
  .steps__cards__item h5 {margin-bottom: 20px;}

  .steps__cards .steps__cards__item:nth-child(1),
  .steps__cards .steps__cards__item:nth-child(2),
  .steps__cards .steps__cards__item:nth-child(3) {
    justify-self: start;
    transition: .6s;
  }

  .steps__points {
    display: none;
  }




  .pluses {grid-template-columns: 1fr; grid-row-gap: 50px}
  .pluses h1 {grid-column: 1/2; margin-bottom: 100px;}

  .pluses__card {display: grid; max-width: 80%;}
  .pluses__card__img {grid-column: 1/2; grid-row: 1/3}
  .pluses__card h4 {grid-column: 2/3; margin: 0 0 20px 60px;}
  .pluses__card p {margin-left: 60px;}

  .pluses .pluses__card:nth-child(3),
  .pluses .pluses__card:nth-child(4) {
    justify-self: start;
  }

}






@media (min-width: 960px) and (max-width: 1024px) {
  h1 {font-size: 60px;}
  .levels__card {padding-bottom: 100px;}

  .banner .blue_button {
    position: relative;
    margin-top: 80px;
  }
}








@media (max-width: 1024px) {

  .header__nav {display: none;}

  .drawer_label {display: block;}

  .drawer__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .drawer__nav a {
    position: relative;
    z-index: 10;
    margin: 0;
    margin-bottom: 24px;
    font-size: 5vw;
    font-weight: 700;
    text-decoration: none;
  }

  .drawer__nav__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }

  .drawer__nav__bg div {
    width: 100%;
    height: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: .4s;
  }



  .levels {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  .levels h1 {grid-column: 1/2}

  .rates {grid-template-columns: 1fr; grid-row-gap: 30px;}
  .rates h1, .rates h4 {grid-column: 1/2;}
  .rates h4  {margin: 0; margin-bottom: 30px;}
  .rates__card {border-left: 4px solid #0066E0; margin-bottom: 30px;}

  .rates .rates__card:nth-child(4) p:nth-child(3) svg {
    transition: .6s .6s;
  }

  .rates .rates__card:nth-child(4) p:nth-child(4) svg {
    transition: .6s .8s;
  }

  .rates .rates__card:nth-child(4) p:nth-child(5) svg {
    transition: .6s 1s;
  }

}










@media (max-width: 767px) {


  * {font-size: 14px;}

  h1 {font-size: 30px;}
  h2 {font-size: 28px;}
  h3 {font-size: 22px;}
  h4 {font-size: 18px;}
  h5 {font-size: 16px;}



  body {overflow-x: hidden;}


  .scroll_up__button {width: 30px; height: 30px; bottom: 10px; left: 20px;}


  .header .blue_button {display: none;}

  .header2 .header__logo {display: none;}

  .drawer_label {
    order: 1;
  }



  .header, .header2 {
    height: 50px;
    padding: 0 20px;
    margin-top: 0;
  }


  .header__logo {
    height: 30px;
  }






  .banner__title {
    margin-top: 32vw;
    padding: 0 20px;
  }


  .banner .blue_button {
    display: block;
    position: absolute;
    bottom: 20vw;
    left: 20px;
    right: 20px;
    width: auto;
    padding: 16px 50px;
  }

  .banner__img__1, .banner__img__2 {
    align-items: center;
    height: auto;
    top: 44vw;
  }

  .banner__img__1 img, .banner__img__2 img {
    width: 260vw;
  }

  .banner__img__3 {
    height: 100vh;
    width: auto;
  }

  .banner__img__4 {
    bottom: 40vw;
  }





  .main_banner {
    padding: 0 20px;
  }

  .main_banner__img {
    height: 41vh;
    right: 0;
    left: auto;
    bottom: 90px;
  }

  .main_banner .blue_button {
    margin-top: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    height: 50px;
  }

  .main_banner__title {
    padding-bottom: 200px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
  }

  .main_banner__title h1 {
    font-size: 26px;
    line-height: 1.3;
  }






  .beginning {
    padding: 20vh 20px 30px;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    height: auto;
    min-height: 100vh;
    background-position: center top;
  }

  .beginning__title h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: auto;
  }

  .beginning .blue_button {
    grid-column: 1/2;
    justify-self: start;
    width: 100%;
  }





  .reviews_slider__card {padding: 0 20px;}





  .travel {
    height: auto;
    padding: 100px 20px;
    grid-row-gap: 30px;
  }

  .travel__title h3{font-size: 16px; margin-top: 10px;}

  .travel__txt {grid-column: 1/3;}

  .travel__gallery {
    grid-column: 1/3;
    grid-row: 2/3;
    height: 200px;
  }



  .teachers__title h1 {margin: 0;}
  .teachers__title h3 {margin: 20px 0 50px; padding: 0;}


  .teachers__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    height: auto;
    padding: 50px 20px;
  }

  .teachers__card__end {padding-bottom: 100px;}


  .teachers__txt  {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: start;
  }

  .teachers__avatar {
    height: 120px;
    width: 120px;
  }

  .teachers__info {
    margin: 0 20px 0;
    width: auto;
  }

  .teachers__title {
    padding: 100px 20px 0;
  }

  .teachers__title h3 {
    width: auto;
    font-size: 16px;
  }




  .help_form {
    height: auto;
    grid-template-columns: 1fr;
    padding: 50px 20px;
  }


  .help_form__title {
    margin-bottom: 40px;
  }

  .help_form__title h3 {
    font-size: 16px;
    margin-top: 10px;
  }

  .help_form__inputs {grid-row-gap: 16px}

  .help_form .blue_button {
    grid-column: 1/2;
    justify-self: start;
    margin-top: 40px;
    width: 100%;
  }


  .pay_form__window {
    top: 30px;
    bottom: 30px;
    padding: 0 20px;
  }

  .pay_form__title h3, .free_form__title h3 {font-size: 16px;}

  .pay_form__inputs {grid-row-gap: 30px}

  .pay_form__buttons {flex-direction: column;}

  .pay_form__buttons .blue_button,
  .free_form__buttons .blue_button {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
  }

  .pay_form__buttons label {height: auto;}





  .free_form {height: 130vh;}


  .free_form__buttons {
    grid-column: 1/3;
    justify-content: flex-start;
    flex-direction: column;
  }

  .free_form__buttons label {
    margin-right: 0;
    margin-bottom: 10px;
    justify-content: center;
  }

  .free_form__inputs {
    grid-template-columns: 1fr;
  }

  .free_form__window {
    top: 30px;
    bottom: auto;
    height: 90vh;
    padding: 0 20px;
    overflow: scroll;
  }





  .form_input span {
    font-size: 22px;
  }

  .form_input__field {
    font-size: 22px;
  }

  .form_close {height: 30px; width: 30px; opacity: .8;}






  .slick-slide {
    transform: translateY(20px);
  }

  .slick-center {
    transform: translateY(0);
  }








  .header,
  .header2,
  .main_banner,
  .levels,
  .features,
  .rates,
  .steps,
  .beginning,
  .pluses,
  .travel,
  .teachers__title, .teachers__card,
  .help_form, .pay_form__window, .free_form__window {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header2 .blue_button {height: 40px; padding: 20px 32px;}



  .levels {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding: 150px 20px 0;
  }

  .levels h1 {grid-column: 1/2;}

  .levels__card {display: grid;}
  .levels__card img {position: static; width: 70px; grid-row: 3/4; opacity: .3;}
  .levels__card p {width: auto; margin: 20px 0;}





  .features {
    grid-template-columns: 1fr;
    grid-row-gap: 70px;
    grid-column-gap: 50px;
    padding-bottom: 0;
  }

  .features h1 {grid-column: 1/2; padding-bottom: 0;}

  .features__card {display: grid; grid-column-gap: 20px;}

  .features__card__img {
    width: 60px; height: 60px;
    grid-row: 1/3;
  }

  .features__card__img img {width: 50px;}

  .features__card h4 {margin: 0 0 10px; grid-row: 1/2;}

  .features .features__card:nth-child(3),
  .features .features__card:nth-child(5),
  .features .features__card:nth-child(4){
    transition: .6s;
  }




  .rates {grid-template-columns: 1fr; grid-row-gap: 30px; padding-bottom: 0;}
  .rates h1, .rates h4 {grid-column: 1/2;}
  .rates h4  {margin: 0; margin-bottom: 30px;}
  .rates__card {margin-bottom: 0;}
  .rates__arrow {justify-self: start;}




  .rates .rates__card:nth-child(4) p:nth-child(3) svg {
    transition: .6s .6s;
  }

  .rates .rates__card:nth-child(4) p:nth-child(4) svg {
    transition: .6s .8s;
  }

  .rates .rates__card:nth-child(4) p:nth-child(5) svg {
    transition: .6s 1s;
  }



  .steps {padding-bottom: 140px;}
  .steps h4 {margin: 30px 0 80px;}
  .steps__cards {grid-template-columns: 1fr; grid-row-gap: 80px;}

  .steps__cards__item {
    align-self: start;
    max-width: 550px;
    display: grid;
    grid-column-gap: 20px;
    align-items: start;
    text-align: left;
  }

  .steps__card__number {
    border: none;
    grid-row: 1/3;
    height: 100px;
    width: 50px;
    -webkit-text-stroke: 2px #0066E0;
    font-size: 60px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .steps__cards__item p, .steps__cards__item h5 {grid-column: 2; margin: 0;}
  .steps__cards__item h5 {margin: 0 0 10px;}

  .steps__cards .steps__cards__item:nth-child(1),
  .steps__cards .steps__cards__item:nth-child(2),
  .steps__cards .steps__cards__item:nth-child(3) {
    justify-self: start;
    transition: .6s;
  }

  .steps__points {
    display: none;
  }




  .pluses {grid-template-columns: 1fr; grid-row-gap: 40px; padding-bottom: 0;}
  .pluses h1 {grid-column: 1/2; margin-bottom: 0; max-width: 240px;}

  .pluses__card {display: grid; max-width: 80%;}
  .pluses__card h4 {margin: 60px 0 10px;}

  .pluses .pluses__card:nth-child(3),
  .pluses .pluses__card:nth-child(4) {
    justify-self: start;
  }

  .reviews {height: auto;}
  .reviews h1 {padding: 0 20px 50px 20px;}

}
