@media (min-width: 1920px) {
  * {font-size: 20px;}

  h1 {font-size: 96px;}
  h2 {font-size: 60px;}
  h3 {font-size: 48px;}
  h4 {font-size: 36px;}
  h5 {font-size: 24px;}

  .header {
    height: 100px;
  }

  .main_banner__img {
    height: 65vh;
    right: 0;
    left: auto;
  }


  .learning__title__description {
    margin-top: 30px;
    height: 100px;
  }

  .learning_screen__title {
    padding: 200px 0 50px;
  }

  .learning__title__main__scroll {
    font-size: 60px;
  }



  .our_pluses__content__title {
    width: 1200px;
  }

  .process_steps__title {
    padding: 80px 10vw 20px;
  }

  .process_steps__title__main_scroll {
    font-size: 72px;
  }

  .process_steps__screen__content  h4,
  .process_steps__screen__content  p {
    max-width: 500px;
  }

  .process_screen_animate[data-scroll="in"] .process_steps__screen__content__line {width: 500px;}





  .reviews {
    padding: 20vh 0 15vw;
  }


  .reviews h1 {
    padding: 0 10vw 200px;
  }

}











@media (min-width: 1600px) and (max-width: 1920px) {


  .header {
    height: 100px;
  }

  .header__logo {
    height: 60px;
  }

  .header .blue_button {
    padding: 20px 50px;
  }

  .main_banner__img {
    height: 600px;
    right: 0;
    left: auto;
    bottom: 150px;
  }


  .learning_screen__title h4{
    width: 860px;
  }

  .learning_screen__txt {
    margin-bottom: 400px;
  }



}




@media (min-width: 1024px) and (max-width: 1400px) {

  * {font-size: 16px;}

  h1 {font-size: 60px;}
  h2 {font-size: 36px;}
  h3 {font-size: 24px;}
  h4 {font-size: 20px;}
  h5 {font-size: 18px;}

  .blue_button {
    padding: 16px 50px;
  }

  .header {
    height: 60px;
  }

  .header__logo {
    height: 42px;
  }

  .header__nav a {
    margin-right: 30px;
  }

  .header__nav a:nth-child(4) {
    margin-right: 0;
  }

  .main_banner__img {
    height: 400px;
    right: 0;
    left: auto;
    bottom: 120px;
  }


  .our_pluses__content__item {
    padding: 40px 10vw;
  }

  .our_pluses__content__title  {
    font-size: 30px;
  }


  .process_steps__title {
    padding: 60px 10vw 20px;
  }


  .teachers__info{
    width: 200px;
  }

  .teachers__txt {
    max-width: 350px;
  }



  .help_form {
    height: auto;
  }


  .help_form__title {
    margin-bottom: 100px;
  }





}









@media (min-width: 768px) and (max-width: 1024px) {


  * {font-size: 16px;}

  h1 {font-size: 50px;}
  h2 {font-size: 36px;}
  h3 {font-size: 24px;}
  h4 {font-size: 20px;}
  h5 {font-size: 18px;}

  a {display: none;}

  body {overflow-x: hidden;}

  .cursor {display: none;}

  .header {
    height: 100px;
  }

  .header__logo {
    height: 50px;
  }

  .main_banner__img {
    height: 380px;
    right: 0;
    left: auto;
    bottom: 0;
  }

  .main_banner .blue_button {
    margin-top: 80px;
  }

  .main_banner__title {
    padding-bottom: 0;
  }

  .about_learning__card{
    grid-column: 1/3;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    height: auto;
    padding: 60px 30px;
    padding-right: 30%;
  }






  .about_learning__card__btn {
    left: auto;
    right: 30px;
    bottom: 60px;
  }


  .about_learning[data-scroll="in"] .about_learning__card2 {
    animation: none;
    transform: translate(0,0);
  }

  .about_learning[data-scroll="in"] .about_learning__card__txt {
    animation: none;
    opacity: 1;
  }

  .about_learning[data-scroll="out"] .about_learning__card__txt {
    opacity: 0;
  }

  .about_learning[data-scroll="in"] .about_learning__card__stroke {
    animation: none;
  }

  .about_learning__card__stroke {
    width: 80vw;
  }


  .learning_screen__img {
    position: static;
    width: auto;
  }

  .learning_screen__txt__blok {
    width: 300px;
  }


  .learning_screen__txt {
    grid-template-columns: 1fr;
    grid-row-gap: 100px;
  }







  .learning__title {overflow: hidden;}

  .learning__title__main  {
    font-size: 60px;
  }

  .learning__title__main__scroll  {
    font-size: 36px;
  }

  .learning__title__description {
    max-width: 400px;
  }

  .learning_screen__button {
    bottom: 50px;
    width: 80px;
    height: 80px;
  }





  .our_pluses__title h1 {
    width: 70vw;
  }


  .our_pluses__content__title  {
    font-size: 30px;
  }

  .our_pluses__content__item {margin: 0;padding-right: 0; max-width: 600px;}







  .process_steps__screen {
    margin: 300px 0;
    grid-column-gap: 50px;
  }

  .process_steps__screen__img {

  }


  .process_steps__title {padding-top: 80px;}
  .process_steps__title__main_scroll {font-size: 48px;}
  .process_steps__title h4 {width: auto;}


  .process_steps__screen__content  h4,
  .process_steps__screen__content  p,
  .process_screen_animate[data-scroll="in"] .process_steps__screen__content__line {
    width: 100%;
  }

  .process_steps__screen__content  p {margin: 20px 0;}










  .beginning {
    grid-template-columns: 1fr;
  }

  .beginning .blue_button {
    grid-column: 1/2;
    justify-self: start;
  }


  .travel__gallery {
    grid-template-columns: 1fr 1fr;
  }

  .travel__gallery__img:nth-child(2),
  .travel__gallery__img:nth-child(3) {
    grid-column: auto;
  }


  .teachers__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
  }


  .teachers__txt  {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: start;
  }

  .teachers__avatar {
    height: 200px;
    width: 200px;
  }

  .teachers__info {
    margin: 0;
  }




  .help_form {
    height: auto;
    grid-template-columns: 1fr;
  }


  .help_form__title {
    margin-bottom: 100px;
  }

  .help_form__title h3 {
    margin-top: 20px;
  }

  .help_form .blue_button {
    grid-column: 1/2;
    justify-self: start;
    margin-top: 100px;
  }





  .free_form__buttons {
    grid-column: 1/2;
    justify-content: flex-start;
  }

  .free_form__inputs {
    grid-template-columns: 1fr;
  }





}

@media (min-width: 960px) and (max-width: 1024px) {
  h1 {font-size: 60px;}
}















@media (max-width: 767px) {


  * {font-size: 14px;}

  h1 {font-size: 30px;}
  h2 {font-size: 28px;}
  h3 {font-size: 22px;}
  h4 {font-size: 18px;}
  h5 {font-size: 16px;}

  a {display: none;}

  body {overflow-x: hidden;}

  .cursor {display: none;}



  .header {
    height: 50px;
  }

  .header__logo {
    height: 30px;
  }

  .main_banner {
    padding: 0 20px;
  }

  .main_banner__img {
    height: 380px;
    right: 0;
    left: auto;
    bottom: 0;
  }

  .main_banner .blue_button {
    margin-top: 80px;
    width: auto;
  }

  .main_banner__title {
    padding-bottom: 0;
  }









  .about_learning__card{
    grid-column: 1/3;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    height: auto;
    padding: 60px 30px;
    padding-right: 30%;
  }

  .about_learning__card__btn {
    left: auto;
    right: 30px;
    bottom: 60px;
  }


  .about_learning[data-scroll="in"] .about_learning__card2 {
    animation: none;
    transform: translate(0,0);
  }

  .about_learning[data-scroll="in"] .about_learning__card__txt {
    animation: none;
    opacity: 1;
  }

  .about_learning[data-scroll="out"] .about_learning__card__txt {
    opacity: 0;
  }

  .about_learning[data-scroll="in"] .about_learning__card__stroke {
    animation: none;
  }

  .about_learning__card__stroke {
    width: 80vw;
  }


  .learning_screen__img {
    position: static;
    width: auto;
  }

  .learning_screen__txt__blok {
    width: 300px;
  }


  .learning_screen__txt {
    grid-template-columns: 1fr;
    grid-row-gap: 100px;
  }






  .learning__title {padding: 30px 20px 0;}
  .learning__title__main {font-size: 36px;}
  .learning__title__main__scroll {font-size: 28px;}
  .learning__title__description {height: 80px;}


  .learning_screen {padding: 0 20px;}

  .learning_screen__button {
    width: 50px;
    height: 50px;
  }

  .learning_screen__txt__blok {width: auto;}

  .learning_screen__txt__blok p {
    font-size: 14px;
  }





  .our_pluses__title {
    height: 350px;
    background: linear-gradient(179.68deg, #1C1C1C 50%, rgba(28, 28, 28, 0) 65%);
    padding: 0 20px;
    padding-top: 90px;
  }

  .our_pluses__title h1 {
    width: auto;
  }

  .our_pluses__content__item {padding: 50px 20px;}


  .our_pluses__content__title  {
    font-size: 18px;
  }

  .title1[data-scroll="in"],
  .title2[data-scroll="in"],
  .title3[data-scroll="in"],
  .title4[data-scroll="in"],
  .title5[data-scroll="in"],
  .title6[data-scroll="in"],
  .title7[data-scroll="in"] {
    opacity: 1;
    transform: translateX(20px);
  }

  .our_pluses__end {height: 150px;}




  .process_steps__title {
    padding: 50px 20px 10px;
  }

  .process_steps__title__main_scroll {
    font-size: 18px;
  }


  .process_steps__screen {
    grid-template-columns: 1fr;
    height: auto;
    grid-row-gap: 50px;
    margin: 300px 0;
  }

  .process_steps__screen__img {
    height: 300px;
  }






  .beginning {
    grid-template-columns: 1fr;
  }

  .beginning .blue_button {
    grid-column: 1/2;
    justify-self: start;
  }





  .reviews_slider__card {padding: 0 20px;}


  .travel__txt {grid-column: 1/3;}





  .teachers__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
  }


  .teachers__txt  {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: start;
  }

  .teachers__avatar {
    height: 150px;
    width: 150px;
  }

  .teachers__info {
    margin: 20px;
    width: auto;
  }




  .help_form {
    height: auto;
    grid-template-columns: 1fr;
  }


  .help_form__title {
    margin-bottom: 100px;
  }

  .help_form .blue_button {
    grid-column: 1/2;
    justify-self: start;
    margin-top: 100px;
  }




  .free_form__buttons {
    grid-column: 1/2;
    justify-content: flex-start;
  }

  .free_form__inputs {
    grid-template-columns: 1fr;
  }


  .form_input span {
    font-size: 22px;
  }

  .form_input__field {
    font-size: 22px;
  }







}
