* {
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 18px;
}

h1 {font-size: 72px;}
h2 {font-size: 48px;}
h3 {font-size: 36px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}

body {
  overflow-x: hidden;
}


.cursor {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1000;
  transition: .1s;
  transform: translate(-48%, -45%);
  pointer-events: none;
  transform-origin: 150% 150%;
}

.cursor_learn {
  background: rgba(0,0,0,0);
  transform: scale(1.5);
  backdrop-filter: invert(100%);
}


.blue_button {
  font-weight: 500;
  text-align: center;
  padding: 20px 50px;
  background: #0066E0;
  transition: .4s;
}

.blue_button:hover {
  box-shadow: 0 0 30px rgba(0,117,224,.4);
  background: #025FCF;
}






.header {
  width: 100vw;
  height: 80px;
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .4s;
  opacity: 0;
  animation: header .6s ease-in-out .3s normal forwards;
}


@keyframes header {
  0% {transform: translateY(-100px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}

.header .blue_button {
  display: none;
  position: absolute;
  left: 10vw;
  color: #0066E0;
  border: 2px solid #0066E0;
  background: #fff;
}

.header .blue_button:hover  {
  background: #0066E0;
  color: #fff;
}

.header__logo {
  height: 60px;
  transition: .4s;
}

.header__nav {
  display: flex;
  justify-content: end;
}

.header__nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin-right: 50px;
  transition: .4s;
}

.header__nav a:nth-child(4) {
  margin-right: 0;
}






.main_banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
  background: linear-gradient(284.41deg, #147FFF 0%, #003C83 100%);
  color: #fff;
}

.main_banner__img {
  position: absolute;
  height: 500px;
  bottom: 100px;
  right: 0;
  opacity: 0;
  animation: banner_title .6s ease-in-out 0s normal forwards;
  z-index: 0;
}

@keyframes banner_title {
  0% {transform: translateX(100px); opacity: 0;}
  100% {transform: translateX(0); opacity: 1;}
}


.main_banner .blue_button {
  background: none;
  border: 2px solid #fff;
  margin-top: 150px;
  width: 300px;
  opacity: 0;
  position: relative;
  z-index: 1;
}




.main_banner h1 {
  position: relative;
  line-height: 1;
  z-index: 1;
  opacity: 0;
}



.main_banner h1:nth-child(1) {
  animation: banner_title .6s ease-in-out 0s normal forwards;
}

.main_banner h1:nth-child(2) {
  animation: banner_title .6s ease-in-out .1s normal forwards;
}

.main_banner h1:nth-child(3) {
  animation: banner_title .6s ease-in-out .2s normal forwards;
}

.main_banner .blue_button {
  animation: banner_title .6s ease-in-out .3s normal forwards;
}

@keyframes banner_title {
  0% {transform: translateX(100px); opacity: 0;}
  100% {transform: translateX(0); opacity: 1;}
}










.about_learning {
  width: 100vw;
  padding: 200px 10vw;
  display: grid;
  grid-row-gap: 50px;
}

.about_learning__title {
  padding-bottom: 60px;
}

.about_learning__card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  max-width: 80vw;
  height: 320px;
  padding: 30px;
}


.about_learning__card:hover .about_learning__card__stroke{
  box-shadow: 0 4px 20px rgba(0,0,0,.20);
  border: 2px solid rgba(0,0,0,.1);
}

.about_learning__card:hover .about_learning__card__btn {
  opacity: 1;
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
}



.about_learning__card__title p {
  font-weight: 500;
  width: 90%;
  margin-top: 10px;
}


.about_learning__card__txt {
  display: grid;
  grid-row-gap: 10px;
  opacity: 0;
  align-self: start
}

.about_learning__card__txt p {
  font-size: 16px;
}

.about_learning__card__txt h5 {
  margin-bottom: 6px;
}


.about_learning__card__stroke {
  position: absolute;
  top: 0;
  left: 0;
  width: 37vw;
  height: 100%;
  border: 2px solid rgba(0,0,0,1);
  transition: .3s;
}

.about_learning__card__btn {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: url(img/about_learning_btn.svg);
  background-size: cover;
  opacity: .2;
  transition: .3s;
}


.about_learning__card2 {
  transform: translate(40vw,-370px);
}


@keyframes about_learning__card2 {
  40% {transform: translate(40vw,0);}
  80% {transform: translate(0,0);}
  100% {transform: translate(0,0);}
}

@keyframes about_learning__card__txt {
  80% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes about_learning__card__stroke {
  40% {width: 37vw;}
  80% {width: 80vw;}
  100% {width: 80vw;}
}


.about_learning[data-scroll="in"] .about_learning__card2 {
  animation: about_learning__card2 1.5s ease-in-out 1.5s normal forwards;
}

.about_learning[data-scroll="in"] .about_learning__card__txt {
  animation: about_learning__card__txt 1.5s ease-in-out 1.5s normal forwards;
}

.about_learning[data-scroll="in"] .about_learning__card__stroke {
  animation: about_learning__card__stroke 1.5s ease-in-out 1.5s normal forwards;
}














.learning__title {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.learning__title__area {
  width: 80vw;
  overflow: visible;
}

.learning__title h1 {
  line-height: 1.2;
  letter-spacing: .0001vw;
  font-weight: 800;
  font-size: 6.5vw;
  animation: learning_title 3s ease-in-out 0s infinite alternate;
}


.learning_screen {
  position: relative;
  width: 100vw;
  height: 150vh;
  padding: 0 10vw;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  display: grid;
  transition: .6s;
}


.learning_screen__title {
  align-self: start;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 100px 0 30px;
  transition: .4s;
}

.learning_screen__title h4{
  width: 600px;
  margin-top: 20px;
}


.learning_screen__txt {
  align-self: end;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 200px;
  position: sticky; d
}

.learning_screen__txt__blok {
  display: grid;
  grid-row-gap: 12px;
  width: 340px;
}

.learning_screen__txt__blok h4 {
  margin-bottom: 20px;
}

.learning_screen__txt__blok p {
  font-size: 18px;
  font-weight: 500;
}


.learning_screen__img {
  width: 50vw;
  height: 36vh;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .1) 100%), url(img/learning_img1.jpg);
  background-size: cover;
  position: absolute;
  right: 10vw;
  top: 5vw;
  z-index: 0;
}

.learning .learning_screen:nth-child(3) .learning_screen__img {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .1) 100%), url(img/learning_img2.jpg);
  background-size: cover;
}

.learning_screen__button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(img/about_learning_btn.svg);
  background-size: cover;
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 10;
}

/* .learning_screen__title:hover .learning_screen__button {
  background: url(img/about_learning_btn.svg), linear-gradient(to top, #E0A100, #E0A100);
  background: url(img/about_learning_btn.svg), #E0A100;
  background-size: cover;
  filter: invert(100%);
} */













.our_pluses {
  width: 100vw;
  background: #1C1C1C;
  position: relative;
}

.our_pluses__title {
  padding: 0 10vw;
  color: #fff;
  width: 100%;
  height: 600px;
  padding-top: 200px;
  background: linear-gradient(179.68deg, #1C1C1C 60%, rgba(28, 28, 28, 0) 75%);
  position: sticky;
  top: 0;
  z-index: 10;
}

.our_pluses__content {
  position: relative;
}

.our_pluses__content__item {
  color: #fff;
  font-weight: 700;
  padding: 50px 10vw;
}

.our_pluses__content__item div {
  width: 100px;
  height: 2px;
  background: #fff;
  margin-top: 20px;
}


.our_pluses__end {
  height: 200px;
}










.process_steps {
  width: 100vw;
  padding: 0 0;
  position: relative;
}

.process_steps__title {
  width: 100%;
  padding: 70px 10vw 20px;
  align-items: center;
  background: #fff;
  position: sticky;
  top: 50px;
  z-index: 10;
}

.process_steps__title h4{
  margin-top: 30px;
  width: 60vw;
  font-weight: 500;
}



.process_steps__screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(4,1fr); */
  grid-column-gap: 30px;
  width: 100%;
  height: 40vh;
  position: relative;
  margin: 600px 0;
  padding: 0 10vw;
}

.process_steps__screen__content {
  color: #000;
}


.process_steps__screen__content  h3 {
  max-width: 600px;
}

.process_steps__screen__content p {
  max-width: 400px;
  margin: 20px 0 30px;
  font-weight: 500;
  line-height: 1.5;
}

.process_steps__screen__content div {
  width: 100px;
  height: 2px;
  background: #000;
}


.process_steps__screen__number {
  color: #fff;
  font-size: 100px;
  font-weight: 800;
  opacity: 1;
}


.process_steps__screen__img {
  display: flex;
  align-items: center;
  justify-content: center;
}


.process_steps .process_steps__screen:nth-child(2) .process_steps__screen__img {
  background: linear-gradient(0deg, rgba(0, 95, 182, 0.6), rgba(0, 95, 182, 0.6)), url(img/process_img1.jpg);
  background-size: cover;
}

.process_steps .process_steps__screen:nth-child(3) .process_steps__screen__img {
  background: linear-gradient(0deg, rgba(0, 95, 182, 0.6), rgba(0, 95, 182, 0.6)), url(img/process_img2.jpg);
  background-size: cover;
}

.process_steps .process_steps__screen:nth-child(4) .process_steps__screen__img {
  background: linear-gradient(0deg, rgba(0, 95, 182, 0.6), rgba(0, 95, 182, 0.6)), url(img/process_img3.jpg);
  background-size: cover;
}

.process_steps .process_steps__screen:nth-child(5) .process_steps__screen__img {
  background: linear-gradient(0deg, rgba(0, 95, 182, 0.6), rgba(0, 95, 182, 0.6)), url(img/process_img4.jpg);
  background-size: cover;
}





.beginning {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  background: linear-gradient(90deg, rgba(0, 31, 67, 0.77) 0%, rgba(0, 97, 214, 0.5) 100%), url(img/beginning_bg.jpg) no-repeat;
  background-size: cover;
  padding: 20vh 10vw 10vh;
}

.beginning__title {
  grid-column: 1/3;
}

.beginning__title h3{
  margin-top: 30px;
  width: 80%;
}

.beginning__txt {
  align-self: end;
  font-weight: 400;
  line-height: 1.6;
  max-width: 500px;
}

.beginning__txt__line {
  margin-top: 20px;
  background: #fff;
  height: 2px;
  transition: 1s;
}


.beginning .blue_button {
  width: 300px;
  height: 62px;
  align-self: end;
  justify-self: end;
}







.reviews {
  width: 100vw;
  padding: 15vh 0 20vh;
}

.reviews h1 {
  padding: 0 10vw 90px;
}

.reviews_slider__card {
  padding: 0 80px;
}

.reviews_slider__card__title {
  display: flex;
  align-items: center;
}

.reviews_slider__card__title h4 {
  margin-left: 20px;
}

.reviews_slider__card__avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.reviews_slider__card__avatar div {
  width: 80px;
  height: 80px;
}






.reviews_slider__card__avatar1 {
  background: url(img/reviews/reviews_avatar1.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar2 {
  background: url(img/reviews/reviews_avatar2.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar3 {
  background: url(img/reviews/reviews_avatar3.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar4 {
  background: url(img/reviews/reviews_avatar4.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar5 {
  background: url(img/reviews/reviews_avatar5.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar6 {
  background: url(img/reviews/reviews_avatar6.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar7 {
  background: url(img/reviews/reviews_avatar7.jpg);
  background-size: cover;
}




.reviews_slider__card p {
  margin: 30px 0;
}

.reviews_slider__card__line {
  height: 2px;
  width: 100px;
  background: #000;
  transition: .6s;
}




.slick-slide {
  opacity: .2;
  transform: translateY(50px);
  transition: .6s;
  outline: none;
}

.slick-center {
  opacity: 1;
  transform: translateY(0);
}

.slick-center .reviews_slider__card__line {
  width: 100%;
}

.slick-list {
  overflow: visible;
}

.slick-arrow {
  position: absolute;
  z-index: 100;
  outline: none;
  width: 15vw;
  height: 100%;
  border: none;
  font-size: 0;
}

.slick-next {
  right: 0;
  top: 0;
  background: url(img/reviews_next.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.slick-prev {
  background: url(img/reviews_prev.svg);
  background-repeat: no-repeat;
  background-position: right center;
}











.travel {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  background: linear-gradient(90deg, rgba(0, 31, 67, 0.77) 0%, rgba(0, 97, 214, 0.5) 100%), url(img/travel_img.jpg) no-repeat;
  background-size: cover;
  padding: 20vh 10vw 10vh;
}

.travel__title {
  grid-column: 1/3;
}

.beginning__title h3{
  margin-top: 30px;
  width: 80%;
}

.travel__txt {
  align-self: end;
  font-weight: 400;
  line-height: 1.6;
  max-width: 500px;
}

.beginning__txt__line {
  margin-top: 20px;
  background: #fff;
  height: 2px;
  transition: 1s;
}








.teachers__title {
  padding: 200px 10vw 100px;
}

.teachers__title h1 {
  margin-bottom: 30px;
}

.teachers__title h3{
  width: 60%;
}

.teachers__card {
  height: 288px;
  padding: 0 10vw;
  margin: 200px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}



.teachers__avatar {
  width: 288px;
  background: url(img/teachers/teachers_img1.jpg);
  background-size: cover;
  transition: .8s .4s;
  position: relative;
}

.teachers__avatar:after {
  content: '';
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
  background: rgba(0, 95, 182, 0.6);
  transition: .8s .4s;
}

.teachers .teachers__card:nth-child(3) .teachers__avatar {
  background: url(img/teachers/teachers_img2.jpg);
  background-size: cover;
}

.teachers .teachers__card:nth-child(4) .teachers__avatar {
  background: url(img/teachers/teachers_img3.jpg);
  background-size: cover;
}

.teachers .teachers__card:nth-child(5) .teachers__avatar {
  background: url(img/teachers/teachers_img4.jpg);
  background-size: cover;
}

.teachers__info {
  width: 288px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform .8s, color .6s .2s;
  color: #000;
}

.teachers__txt {
  justify-self: end;
  max-width: 500px;
}






.help_form {
  width: 100vw;
  height: 100vh;
  padding: 200px 10vw 50px;
  background: #1c1c1c;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

.help_form__title {
  grid-column: 1/3;
  align-self: start;
}

.help_form__inputs {
  grid-column: 1/2;
  display: grid;
  grid-row-gap: 50px;
}

.help_form .blue_button {
  width: 300px;
  grid-column: 2/3;
  justify-self: end
}


.help_form__inputs .form_input:nth-child(3) {
  margin-top: 22px;
}

.help_form  .form_input__field {
  box-shadow: 0 2px 0 rgba(255,255,255,.2);
}

.help_form .form_input__field:focus {
  box-shadow: 0 2px 0 rgba(255,255,255,1);
}








.title1[data-scroll],
.title2[data-scroll],
.title3[data-scroll],
.title4[data-scroll],
.title5[data-scroll],
.title6[data-scroll],
.title7[data-scroll]{
  transition: .5s ;
}

.title1[data-scroll="in"],
.title2[data-scroll="in"],
.title3[data-scroll="in"],
.title4[data-scroll="in"],
.title5[data-scroll="in"],
.title6[data-scroll="in"],
.title7[data-scroll="in"] {
  opacity: 1;
  transform: translateX(50px);
}

.title1[data-scroll="out"],
.title2[data-scroll="out"],
.title3[data-scroll="out"],
.title4[data-scroll="out"],
.title5[data-scroll="out"],
.title6[data-scroll="out"],
.title7[data-scroll="out"] {
  opacity: .2;
  transform: translateX(0);
}



.title1[data-scroll] ~ div,
.title2[data-scroll] ~ div,
.title3[data-scroll] ~ div,
.title4[data-scroll] ~ div,
.title5[data-scroll] ~ div,
.title6[data-scroll] ~ div,
.title7[data-scroll] ~ div{
  transition: .5s ;
}

.title1[data-scroll="in"] ~ div,
.title2[data-scroll="in"] ~ div,
.title3[data-scroll="in"] ~ div,
.title4[data-scroll="in"] ~ div,
.title5[data-scroll="in"] ~ div,
.title6[data-scroll="in"] ~ div,
.title7[data-scroll="in"] ~ div {
  opacity: 1;
  width: 288px;
}

.title1[data-scroll="out"] ~ div,
.title2[data-scroll="out"] ~ div,
.title3[data-scroll="out"] ~ div,
.title4[data-scroll="out"] ~ div,
.title5[data-scroll="out"] ~ div,
.title6[data-scroll="out"] ~ div,
.title7[data-scroll="out"] ~ div {
  opacity: .2;
  width: 100px;
}







.title_animate[data-scroll] {
  transition: .8s ;
}


.title_animate[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}

.title_animate[data-scroll="out"] {
  opacity: 0;
  transform: translateX(100px);
}






.txt_animate[data-scroll] {
  transition: .4s ;
}


.txt_animate[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}

.txt_animate[data-scroll="out"] {
  opacity: 0;
  transform: translateX(30px);
}




.process_screen_animate[data-scroll] {
  transition: 1s;
}


.process_screen_animate[data-scroll="in"] {
  filter: grayscale(0%);
  opacity: 1;
}

.process_screen_animate[data-scroll="out"] {
  filter: grayscale(100%);
  opacity: .1;
}


.process_screen_animate[data-scroll] .process_steps__screen__content__line {transition: .5s ;}

.process_screen_animate[data-scroll="in"] .process_steps__screen__content__line {width: 288px;}

.process_screen_animate[data-scroll="out"] .process_steps__screen__content__line {width: 100px;}



.process_screen_animate[data-scroll] p,
.process_screen_animate[data-scroll] h3{
  transition: .5s ;
}


.process_screen_animate[data-scroll="in"] p,
.process_screen_animate[data-scroll="in"] h3{
  transform: translateX(0);
}

.process_screen_animate[data-scroll="out"] p,
.process_screen_animate[data-scroll="out"] h3{
  transform: translateX(-50px);
}





.beginning__txt__line[data-scroll="in"]{
  width: 100%;
  opacity: 1;
}

.beginning__txt__line[data-scroll="out"]{
  width: 50%;
  opacity: .1;
}






.learning_screen[data-scroll="in"]{
  opacity: 1;
}

.learning_screen[data-scroll="out"] {
  opacity: .2;
}









.teachers__card[data-scroll="in"] .teachers__info{
  transform: translateX(0);
  color: #000;
}

.teachers__card[data-scroll="out"] .teachers__info{
  transform: translateX(-318px);
  color: #fff;
}


.teachers__card[data-scroll="in"] .teachers__avatar:after{
  background: rgba(0, 95, 182, 0);
}

.teachers__card[data-scroll="out"] .teachers__avatar:after{
  background: rgba(0, 95, 182, 0.6);
}














.form_input {
  position: relative;
  height: 92px;
  grid-column: 1/2
}

.form_input__field {
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  width: 50%;
  height: inherit;
  box-shadow: 0 2px 0 rgba(0,0,0,.2);
  font-size: 36px;
  transition: .4s;
  font-weight: 700;
  overflow: visible;
}

.form_input span {
  font-weight: 700;
  font-size: 36px;
  position: absolute;
  left: 0px;
  bottom: 24px;
  opacity: .3;
  transition: .4s;
  transform-origin: left;
}

.form_input__field:focus {
  outline: none;
  width: 90%;
  box-shadow: 0 2px 0 rgba(0,0,0,1);
}

.form_input__field__filled {
  width: 90%;
}

.form_input__field:focus ~ span,
.form_input__field__filled ~ span {
  transform: scale(.5) translateY( -80px);
  opacity: 1;
}

.form_close {
  position: absolute;
  top: 0;
  right: 10vw;
  width: 60px;
  height: 60px;
  background: url(img/form_close.svg);
  background-size: cover;
  opacity: .2;

}

.form_close:hover {
  opacity: 1;
  transition: .4s;
}











.pay_form, .free_form {
  position: fixed;
  top: 0;left: 0;right: 0;bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: -3;
  opacity: 0;
}

.pay_form__bg {
  background: #ededed;
  transform-origin: left;
  transform: scaleX(0);
}

.pay_form__window {
  position: absolute;
  top: 100px;left: 0;right: 0; bottom: 100px;
  padding: 0 10vw;
  display: grid;
  align-items: end;
}

.pay_form__inputs {
  display: grid;
  grid-row-gap: 80px;
}

.pay_form__title {
  align-self: start;
  /* grid-column: 1/3; */
}


.pay_form__window .blue_button {
  height: 66px;
  border: none;
  color: #fff;
  width: 240px;
}

.pay_form__buttons {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
}

.pay_form__buttons label {
  height: 66px;
  font-weight: 500;
  text-align: center;
  padding: 20px 50px;
  transition: .4s;
  border: 2px solid rgba(0,0,0,.1);
}

.pay_form__buttons label:hover {
  border: 2px solid rgba(0,0,0,1);
}










.free_form__bg {
  background: #1c1c1c;
  transform-origin: left;
  transform: scaleX(0);
}

.free_form__window {
  position: absolute;
  top: 100px;left: 0;right: 0; bottom: 100px;
  padding: 0 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  color: #fff;
}

.free_form__inputs {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  align-items: end;
}


.free_form__inputs .form_input:nth-child(3) {
  height: auto;
  margin-top: 22px;
}

.form_input__textarea  {
  height: 70px;
  resize: none;
}


.form_input__textarea ~ span {
  top: 0;
  bottom: auto;
}

.free_form__title {
  grid-column: 1/3;
  align-self: start;
}


.free_form__window .blue_button {
  border: none;
  color: #fff;
  width: 200px;
  height: 66px;
}

.free_form__buttons {
  display: flex;
  justify-content: flex-end;
}

.free_form__buttons label {
  height: 66px;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-align: center;
  padding: 20px 30px;
  transition: .4s;
  border: 2px solid rgba(255,255,255,.1);
  margin-right: 30px;
}

.free_form__buttons label:hover {
  border: 2px solid rgba(255,255,255,1);
}



.free_form__window .form_input {
  grid-column: 1/2;
}


.free_form__window  .form_input__field {
  box-shadow: 0 2px 0 rgba(255,255,255,.2);
  color: #fff;
}

.free_form__window  .form_input__field:focus {
  box-shadow: 0 2px 0 rgba(255,255,255,1);
}

.free_form__window .form_close {
  filter: invert(100%);
}


.free_form__window .form_input__field:focus {
  width: 90%;
}













#pay_form:checked ~ .pay_form, #free_form:checked ~ .free_form{
  animation: pay_form 1.2s ease-in-out forwards;
}

#pay_form:checked ~ .pay_form .pay_form__bg {
  animation: pay_form__bg 1.2s ease-in-out forwards;
}


#pay_form:checked ~ .pay_form .pay_form__window,
#free_form:checked ~ .free_form .free_form__window{
  animation: pay_form__window 1.2s ease-in-out forwards;
}





#pay_form_close:checked ~ .pay_form{
  animation: pay_form__close 1.2s ease-in-out forwards;
}


#pay_form_close:checked ~ .pay_form .pay_form__bg{
  transform-origin: right;
  animation: pay_form__bg__close 1.2s ease-in-out forwards;
}


#pay_form_close:checked ~ .pay_form .pay_form__window,
#free_form_close:checked ~ .free_form .free_form__window{
  animation: pay_form__window__close 1.2s ease-in-out forwards;
}








#free_form:checked ~ .pay_form {
  animation: pay_form__close2 1.2s ease-in-out forwards;
}

#free_form:checked ~ .pay_form .pay_form__bg {
  animation: pay_form__bg__close2 1.2s ease-in-out forwards;
}

#free_form_close:checked ~ .free_form{
  animation: free_form__close 1.2s ease-in-out forwards;
}

#free_form_close:checked ~ .free_form .free_form__bg{
  transform-origin: right;
  animation: free_form__bg__close 1.2s ease-in-out forwards;
}

#free_form:checked ~ .free_form .free_form__bg{
  animation: free_form__bg 1.2s ease-in-out forwards;
}








@keyframes pay_form {
  0%{z-index: -3; opacity: 0;}
  1%{z-index: 102; opacity: 1;}
  100%{z-index: 102; opacity: 1;}
}

@keyframes pay_form__bg {
  0%{transform: scaleX(0);}
  1%{transform: scaleX(0);}
  50% {background: #ededed;}
  80%{transform: scaleX(1);}
  100%{transform: scaleX(1); background: #fff;}
}



@keyframes pay_form__window {
  0%{opacity: 0;}
  80%{opacity: 0;}
  100%{opacity: 1;}
}





@keyframes pay_form__close {
  0%{z-index: 102; opacity: 1;}
  99%{z-index: 102; opacity: 1;}
  100%{z-index: -3; opacity: 0;}
}

@keyframes pay_form__bg__close {
  0%{transform: scaleX(1); background: #fff;}
  20%{transform: scaleX(1);}
  50% {background: #ededed;}
  99%{transform: scaleX(0);}
}

@keyframes pay_form__bg__close2 {
  0%{transform: scaleX(1); background: #fff;}
  100%{transform: scaleX(1);background: #fff;}
}



@keyframes pay_form__window__close {
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 0;}
}





@keyframes pay_form__close2 {
  0%{z-index: 102; opacity: 1;}
  99%{z-index: 102; opacity: 1;}
  100%{z-index: -3; opacity: 0;}
}



@keyframes free_form__close {
  0%{z-index: 101; opacity: 1;}
  99%{z-index: 101; opacity: 1;}
  100%{z-index: -3; opacity: 0;}
}


@keyframes free_form__bg__close {
  0%{transform: scaleX(1);}
  20%{transform: scaleX(1);}
  99%{transform: scaleX(0);}
}

@keyframes free_form__bg {
  0%{transform: scaleX(0);}
  1%{transform: scaleX(0);}
  80%{transform: scaleX(1);}
  100%{transform: scaleX(1);}
}






#pay_form_close, #free_form_close, #pay_form, #free_form, #free_form__file {
  display: none;
}
