html {scroll-behavior: smooth;}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 18px;
}

h1 {font-size: 72px;}
h2 {font-size: 48px;}
h3 {font-size: 36px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}

body {
  /* overflow: hidden; */
}








.scroll_prompt {
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  transform-style: preserve-3d;
  perspective: 1000px;
  z-index: 100;
}

.scroll_prompt__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  color: #0066E0;
  font-weight: 600;
  transition: .4s;
  opacity: .4;
  box-shadow: 0 0 30px rgba(0,117,224,.4);
}

.scroll_prompt__window {
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  padding: 20px;
  border-radius: 2px;
  transition: .4s;
  opacity: 0;
  transform-origin: right;
  transform: rotateY(-30deg);
  background: #fff;
}

.scroll_up__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(img/up.png);
  background-position: center;
  background-size: cover;
  position: fixed;
  bottom: 3vw;
  left: 3vw;
  z-index: 100;
  opacity: .1;
  transition: .4s;
  box-shadow: 0 0 30px rgba(0,117,224,.4);
  display: none;
}

.scroll_prompt__button:hover, .scroll_up__button:hover {opacity: 1;}

.scroll_prompt__button:hover ~ .scroll_prompt__window,
.scroll_prompt__window__banner {
  opacity: .9;
  transform: rotateY(0);
}








.blue_button {
  font-weight: 500;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 20px 50px;
  background: #0066E0;
  transition: .4s;
  cursor: pointer;
}

.blue_button:hover {
  box-shadow: 0 0 30px rgba(0,117,224,.4);
  background: #025FCF;
}






.header {
  width: 100vw;
  height: 60px;
  position: absolute;
  top: 0;
  z-index: 90;
  padding: 0 10vw;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .4s;
  opacity: 0;
  animation: header .6s ease-in-out .4s normal forwards;
}


@keyframes header {
  0% {transform: translateY(-100px); opacity: 0; z-index: 106;}
  100% {transform: translateY(0); opacity: 1; z-index: 106;}
}

.header .blue_button {
  color: #fff;
  border: 1px solid #fff;
  padding: 14px 50px;
  background: none;
}

.header .blue_button:hover  {
  background: #fff;
  color: #0066E0;
}

.header__logo {
  height: 42px; transition: .4s 1.2s;
}

.header__nav {
  display: flex;
  justify-content: end;
}

.header__nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  margin-right: 50px;
  transition: .4s;
}

.header__nav a:nth-child(4) {
  margin-right: 0;
}






.header2 {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 90;
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .4s;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.15);
}

.header2 .blue_button {
  color: #0066E0;
  border: 1px solid #0066E0;
  background: none;
  height: 50px;
}
.header2 .header__nav a {color: #000;}

.header2 .blue_button:hover {
  color: #fff;
  border: 1px solid #0066E0;
  background: #0066E0;
  height: 50px;
  box-shadow: none;
}


.drawer__nav {display: none;}


.drawer_label {
  display: none;
  position: relative;
  z-index: 105;
}

.drawer_button {
  position: relative;
  width: 40px;
  height: 14px;
}

.drawer_button:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 3px;
  background: #0066E0;
  box-shadow: 0 0 3px #fff;
  transition: transform .4s, top .2s .4s;
}

.drawer_button:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #0066E0;
  box-shadow: 0 0 3px #fff;
  transition: transform .4s, bottom .2s .4s;
}


#drawer {display: none;}

#drawer:checked ~ .header .drawer_label .drawer_button:before {
  transform: rotate(45deg);
  top: 6px;
  transition: transform .4s .2s, top .2s  ;
}

#drawer:checked ~ .header .drawer_label .drawer_button:after {
  transform: rotate(-45deg);
  bottom: 6px;
  transition: transform .4s .2s, bottom .2s ;
}


#drawer:checked ~ .drawer__nav {
  animation: pay_form 1.2s ease-in-out forwards;
}

#drawer:not(:checked) ~ .drawer__nav {
  animation: pay_form__close 1.2s ease-in-out forwards;
}


#drawer:checked ~ .drawer__nav .drawer__nav__bg div{
  animation: pay_form__bg 1.2s ease-in-out forwards;
}


#drawer:not(:checked) ~ .drawer__nav .drawer__nav__bg div{

  animation: pay_form__bg__close 1.2s ease-in-out forwards;
}

#drawer:checked ~ .drawer__nav a{
  color: #000;
  animation: pay_form__window 1.2s ease-in-out forwards;
}

#drawer:not(:checked) ~ .drawer__nav a{
  color: #000;
  animation: pay_form__window__close 1.2s ease-in-out forwards;
}

#drawer:checked ~ .header{
  z-index: 103;
  position: fixed;
}

#drawer:checked ~ .header .header__logo {
  opacity: 0;
  transition: .4s;
}






.next,
.previous {
  z-index: 90;
  height: 10vh;
  position: fixed;
  right: 0;
  left: 0;
  transition: .4s;
  opacity: .2;
  display: flex;
  justify-content: center;
  align-items: center;
}


.next {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 102, 224, .3) 0%, rgba(0, 102, 224, 0) 100%);
}

.previous {
  display: none;
  top: 60px;
  background: linear-gradient(to bottom, rgba(0, 102, 224, .3) 0%, rgba(0, 102, 224, 0) 100%);
}

.next:hover,
.previous:hover {
  opacity: 1;
}

.next img {
  width: 60px;
  animation: next_img 3s ease-in-out 1s infinite;
}

@keyframes next_img {
  0%{transform: translateY(0);}
  40%{transform: translateY(0);}
  45%{transform: translateY(-20px) scale(.95, 1.05);}
  49%{transform: translateY(0);}
  50%{transform: translateY(-3px) scale(1.05, .95);}
  51%{transform: translateY(0) scale(1.05, .95);}
  52%{transform: translateY(0) scale(1, 1);}
  57%{transform: translateY(-20px) scale(.95, 1.05);}
  61%{transform: translateY(0);}
  62%{transform: translateY(-3px) scale(1.05, .95);}
  63%{transform: translateY(0) scale(1.05, .95);}
  64%{transform: translateY(0) scale(1, 1);}
}


.next a,
.previous a{
  font-size: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .4s;
}

.f_box1,
.f_box3,
.f_box4,
.f_box5 {
  z-index: 1;
}

.f_box2 {
  z-index: 2;
}




.h_box1,
.h_box3,
.h_box4,
.h_box2 {
  z-index: 1;
}

.h_box26 {
  z-index: 2;
}









#box1:target ~ .previous .h_box26,
#box2:target ~ .previous .h_box1,
#box3:target ~ .previous .h_box2,
#box4:target ~ .previous .h_box3,
#box5:target ~ .previous .h_box4,
#box6:target ~ .previous .h_box5,
#box7:target ~ .previous .h_box6,
#box8:target ~ .previous .h_box7,
#box9:target ~ .previous .h_box8,
#box10:target ~ .previous .h_box9,
#box11:target ~ .previous .h_box10,
#box12:target ~ .previous .h_box11,
#box13:target ~ .previous .h_box12,
#box14:target ~ .previous .h_box13,
#box15:target ~ .previous .h_box14,
#box16:target ~ .previous .h_box15,
#box17:target ~ .previous .h_box16,
#box18:target ~ .previous .h_box17,
#box19:target ~ .previous .h_box18,
#box20:target ~ .previous .h_box19,
#box21:target ~ .previous .h_box20,
#box22:target ~ .previous .h_box21,
#box23:target ~ .previous .h_box22,
#box24:target ~ .previous .h_box23,
#box25:target ~ .previous .h_box24,
#box26:target ~ .previous .h_box25 {
  z-index: 3;
}











#box1:target ~ .next .f_box2,
#box2:target ~ .next .f_box3,
#box3:target ~ .next .f_box4,
#box4:target ~ .next .f_box5,
#box5:target ~ .next .f_box6,
#box6:target ~ .next .f_box7,
#box7:target ~ .next .f_box8,
#box8:target ~ .next .f_box9,
#box9:target ~ .next .f_box10,
#box10:target ~ .next .f_box11,
#box11:target ~ .next .f_box12,
#box12:target ~ .next .f_box13,
#box13:target ~ .next .f_box14,
#box14:target ~ .next .f_box15,
#box15:target ~ .next .f_box16,
#box16:target ~ .next .f_box17,
#box17:target ~ .next .f_box18,
#box18:target ~ .next .f_box19,
#box19:target ~ .next .f_box20,
#box20:target ~ .next .f_box21,
#box21:target ~ .next .f_box22,
#box22:target ~ .next .f_box23,
#box23:target ~ .next .f_box24,
#box24:target ~ .next .f_box25,
#box25:target ~ .next .f_box26,
#box26:target ~ .next .f_box26{
  z-index: 3;
}













.main_banner {
  position: relative;
  z-index: 90;
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
  background: linear-gradient(284.41deg, #147FFF 0%, #003C83 100%);
  color: #fff;
  overflow: hidden;
  animation: banner 1.2s ease-in-out 0s normal;
}

@keyframes banner {
  0% {z-index: 105;}
  100% {z-index: 105;}
}

.main_banner__img {
  position: absolute;
  height: 500px;
  bottom: 100px;
  right: 0;
  opacity: 0;
  animation: banner_title .6s ease-in-out 0s normal forwards;
  z-index: 0;
}

@keyframes banner_title {
  0% {transform: translateX(100px); opacity: 0;}
  100% {transform: translateX(0); opacity: 1;}
}


.main_banner .blue_button {
  background: none;
  border: 2px solid #fff;
  margin-top: 150px;
  width: 300px;
  opacity: 0;
  position: relative;
  z-index: 1;
}




.main_banner h1 {
  position: relative;
  line-height: 1;
  z-index: 1;
  opacity: 0;
}



.main_banner h1:nth-child(1) {
  animation: banner_title .6s ease-in-out 0s normal forwards;
}

.main_banner h1:nth-child(2) {
  animation: banner_title .6s ease-in-out .1s normal forwards;
}

.main_banner h1:nth-child(3) {
  animation: banner_title .6s ease-in-out .2s normal forwards;
}

.main_banner .blue_button {
  animation: banner_title .6s ease-in-out .3s normal forwards;
}

@keyframes banner_title {
  0% {transform: translateX(100px); opacity: 0;}
  100% {transform: translateX(0); opacity: 1;}
}











.learning__title {
  position: relative;
}

.learning__title h4 {
  margin-top: 30px;
  max-width: 40vw;
}



.learning_screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 12vh 10vw;
  overflow: hidden;
  display: grid;
  transition: .6s;
}


.learning_screen__txt {
  align-self: end;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.learning_screen__txt__blok {
  display: grid;
  grid-row-gap: 12px;
  width: 340px;
  overflow: hidden;
}

.learning_screen__txt__blok h4 {
  margin-bottom: 20px;
}

.learning_screen__txt__blok p {
  font-size: 18px;
  font-weight: 500;
}


.learning_screen__img {
  width: 50vw;
}


.learning_screen__button {
  width: 80px;
  height: 80px;
  background: url(img/about_learning_btn.svg);
  background-size: cover;
  position: absolute;
  top: 50px;
  right: 10vw;
  z-index: 10;
  transition: .4s;
}






.our_pluses__title {
  padding: 0 10vw;
  color: #fff;
  width: 100%;
  height: 250px;
  padding-top: 150px;
  background: #1C1C1C;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
  transition: .8s;
}


.our_pluses__content__item {
  position: relative;
  font-weight: 700;
  padding: 50px 10vw;
  background: #1C1C1C;
  height: auto;
  transition: .8s;
}

.our_pluses__content__item div {
  width: 100px;
  height: 2px;
  background: #fff;
  margin-top: 20px;
  opacity: 0.2;
  transition: .8s;
}

.our_pluses__content__item h3 {
  transition: transform .6s;
  color: rgba(255,255,255, .2);
  display: flex;
  align-items: flex-end;
}

#box5 h3 {
  height: 42vh;
}

.our_pluses__end {padding-bottom: 20vh;}


.our_pluses__content__item:target {
  z-index: 0;
}


.our_pluses__content__item:target h3{
  transform: translateX(50px);
  color: rgba(255,255,255, 1);
  height: 42vh;
}


.our_pluses__content__item:target div {
  width: 300px;
  opacity: 1;
}








.process_steps__title {
  width: 100%;
  height: 100vh;
  padding: 100px 10vw 10px;
  align-items: center;
  background: linear-gradient(to bottom, #fff 0%, #fff 40%, rgba(255,255,255,0) 40%);
  position: sticky;
  top: 0;
  z-index: 1;
}

.process_steps__title__main,
.process_steps__subtitle {
  transform: translateX(100px);
  opacity: 0;
  transition: .6s;
}

.process_steps__title h4{
  margin-top: 30px;
  width: 60vw;
  font-weight: 500;
  transform-origin: left top;
}

.process_steps__screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 52vh 10vw 12vh;
  z-index: 0;
}

.process_steps__screen__content {
  color: #000;
  align-self: end;
}


.process_steps__screen__content  h4 {
  max-width: 400px;
}

.process_steps__screen__content p {
  max-width: 400px;
  margin: 20px 0 30px;
  line-height: 1.5;
}

.process_steps__screen__content div {
  width: 100px;
  height: 1px;
  background: #000;
  transition: .6s .3s;
}


.process_steps__screen__number {
  color: #fff;
  font-size: 100px;
  font-weight: 800;
  opacity: 1;
}


.process_steps__screen__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

#box14 .process_steps__screen__img {
  background: linear-gradient(0deg, rgba(0, 95, 182, 0.6), rgba(0, 95, 182, 0.6)), url(img/process_img1.jpg);
  background-size: cover;
  background-position: center bottom;
}

#box15 .process_steps__screen__img {
  background: linear-gradient(0deg, rgba(0, 95, 182, 0.6), rgba(0, 95, 182, 0.6)), url(img/process_img2.jpg);
  background-size: cover;
  background-position: right bottom;
}

#box16 .process_steps__screen__img {
  background: linear-gradient(0deg, rgba(0, 95, 182, 0.6), rgba(0, 95, 182, 0.6)), url(img/process_img3.jpg);
  background-size: cover;
  background-position: center bottom;
}

#box17 .process_steps__screen__img {
  background: linear-gradient(0deg, rgba(0, 95, 182, 0.6), rgba(0, 95, 182, 0.6)), url(img/process_img4.jpg);
  background-size: cover;
  background-position: center bottom;
}

.process_steps__screen:target .process_steps__screen__content div{
  width: 400px;
}









.beginning {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  background: linear-gradient(90deg, rgba(0, 31, 67, 0.77) 0%, rgba(0, 97, 214, 0.5) 100%), url(img/beginning_bg.jpg) no-repeat;
  background-size: cover;
  padding: 20vh 10vw 10vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.beginning__title {
  grid-column: 1/3;
}

.beginning__title h3{
  margin-top: 30px;
  width: 80%;
}

.beginning__txt {
  align-self: end;
  font-weight: 400;
  line-height: 1.6;
  max-width: 500px;
}

.beginning__txt__line {
  margin-top: 20px;
  background: #fff;
  height: 2px;
  transition: 1s;
}


.beginning .blue_button {
  width: 300px;
  height: 62px;
  align-self: end;
  justify-self:end;
}














.reviews {
  width: 100vw;
  height: 100vh;
  padding: 15vh 0 20vh;
  overflow: hidden;
}

.reviews h1 {
  padding: 0 10vw 90px;
}

.reviews_slider__card {
  padding: 0 80px;
}

.reviews_slider__card__title {
  display: flex;
  align-items: center;
}

.reviews_slider__card__title h4 {
  margin-left: 20px;
}

.reviews_slider__card__avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.reviews_slider__card__avatar div {
  width: 80px;
  height: 80px;
}






.reviews_slider__card__avatar1 {
  background: url(img/reviews/reviews_avatar1.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar2 {
  background: url(img/reviews/reviews_avatar2.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar3 {
  background: url(img/reviews/reviews_avatar3.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar4 {
  background: url(img/reviews/reviews_avatar4.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar5 {
  background: url(img/reviews/reviews_avatar5.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar6 {
  background: url(img/reviews/reviews_avatar6.jpg);
  background-size: cover;
}

.reviews_slider__card__avatar7 {
  background: url(img/reviews/reviews_avatar7.jpg);
  background-size: cover;
}




.reviews_slider__card p {
  margin: 30px 0;
}

.reviews_slider__card__line {
  height: 2px;
  width: 100px;
  background: #000;
  transition: .6s;
}




.slick-slide {
  opacity: .2;
  transform: translateY(50px);
  transition: .6s;
  outline: none;
}

.slick-center {
  opacity: 1;
  transform: translateY(0);
}

.slick-center .reviews_slider__card__line {
  width: 100%;
}

.slick-list {
  overflow: visible;
}

.slick-arrow {
  position: absolute;
  z-index: 100;
  outline: none;
  width: 15vw;
  height: 100%;
  border: none;
  font-size: 0;
}

.slick-next {
  right: 10vw;
  top: 0;
  background: url(img/reviews_next.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.slick-prev {
  left: 10vw;
  background: url(img/reviews_prev.svg);
  background-repeat: no-repeat;
  background-position: right center;
}














.travel {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  color: #fff;
  background: linear-gradient(90deg, rgba(0, 31, 67, 0.77) 0%, rgba(0, 97, 214, 0.5) 100%), url(img/travel_img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20vh 10vw 10vh;
  overflow: hidden;
}

.travel__title {
  grid-column: 1/3;
}

.travel__gallery {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.travel__gallery__img {
  width: 100%;
  height: 100%;
  background: url(img/travel/travel_img1.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.travel__gallery__img:nth-child(2) {
  background: url(img/travel/travel_img2.jpg);
  background-size: cover;
  grid-column: 2/4;
  background-position: right center;
}

.travel__gallery__img:nth-child(3) {
  background: url(img/travel/travel_img3.jpg);
  background-size: cover;
  background-position: right center;
  grid-column: 1/3;
}

.travel__gallery__img:nth-child(4) {
  background: url(img/travel/travel_img4.jpg);
  background-size: cover;
  background-position: center center;
}


.travel__txt {
  align-self: end;
  font-weight: 400;
  line-height: 1.6;
  max-width: 500px;
}










.teachers__title {
  padding: 300px 10vw 100px;
  z-index: 1;
  overflow: hidden;
}

.teachers__title h1 {
  margin-bottom: 30px;
  background: #fff;
}

.teachers__title h3{
  padding-right: 40%;
  background: #fff;
}

.teachers__card {
  padding: 100px 10vw;
  display: flex;
  overflow: hidden;
}

.teachers__card__end {
  padding-bottom: 250px;
}



.teachers__avatar {
  width: 288px;
  height: 288px;
  background: url(img/teachers/teachers_img1.jpg);
  background-size: cover;
  background-position: center;
  transition: .8s .4s;
  position: relative;
}

.teachers__avatar2 {
  background: url(img/teachers/teachers_img2.jpg);
  background-size: cover;
  background-position: center;
}

.teachers__avatar3 {
  background: url(img/teachers/teachers_img3.jpg);
  background-size: cover;
  background-position: center;
}

.teachers__avatar4 {
  background: url(img/teachers/teachers_img4.jpg);
  background-size: cover;
  background-position: center;
}

.teachers__avatar:after {
  content: '';
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
  background: rgba(0, 95, 182, 0.6);
  transition: .8s .4s;
}

.teachers .teachers__card:nth-child(3) .teachers__avatar {
  background: url(img/teachers/teachers_img2.jpg);
  background-size: cover;
  background-position: center;
}

.teachers .teachers__card:nth-child(4) .teachers__avatar {
  background: url(img/teachers/teachers_img3.jpg);
  background-size: cover;
  background-position: center;
}

.teachers .teachers__card:nth-child(5) .teachers__avatar {
  background: url(img/teachers/teachers_img4.jpg);
  background-size: cover;
  background-position: center;
}

.teachers__info {
  width: 288px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform .8s, color .6s .2s;
  color: #000;
}

.teachers__txt {
  justify-self: end;
  max-width: 500px;
  align-self: flex-end;
}


.help_form {
  width: 100vw;
  height: 100vh;
  padding: 200px 10vw 50px;
  background: #1c1c1c;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.help_form__title {
  grid-column: 1/3;
  align-self: start;
}

.help_form__inputs {
  grid-column: 1/2;
  display: grid;
  grid-row-gap: 50px;
}

.help_form .blue_button {
  width: 300px;
  grid-column: 2/3;
  justify-self: end
}


.help_form__inputs .form_input:nth-child(3) {
  margin-top: 22px;
}

.help_form  .form_input__field {
  box-shadow: 0 2px 0 rgba(255,255,255,.2);
}

.help_form .form_input__field:focus {
  box-shadow: 0 2px 0 rgba(255,255,255,1);
}











.form_input {
  position: relative;
  height: 92px;
  grid-column: 1/2
}

.form_input__field {
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  width: 50%;
  height: inherit;
  box-shadow: 0 2px 0 rgba(0,0,0,.2);
  font-size: 36px;
  transition: .4s;
  font-weight: 700;
  overflow: visible;
}

.form_input span {
  font-weight: 700;
  font-size: 36px;
  position: absolute;
  left: 0px;
  bottom: 24px;
  opacity: .3;
  transition: .4s;
  transform-origin: left;
}

.form_input__field:focus {
  outline: none;
  width: 90%;
  box-shadow: 0 2px 0 rgba(0,0,0,1);
}

.form_input__field__filled {
  width: 90%;
}

.form_input__field:focus ~ span,
.form_input__field__filled ~ span {
  transform: scale(.5) translateY( -80px);
  opacity: 1;
}

.form_close {
  position: absolute;
  top: 0;
  right: 10vw;
  width: 60px;
  height: 60px;
  background: url(img/form_close.svg);
  background-size: cover;
  opacity: .2;

}

.form_close:hover {
  opacity: 1;
  transition: .4s;
}











.process_steps__title[data-scroll="in"] .process_steps__title__main,
.process_steps__title[data-scroll="in"] .process_steps__subtitle {
  transform: translateX(0);
  opacity: 1;
}




.title_animate[data-scroll] {
  transition: .8s ;
}


.title_animate[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}

.title_animate[data-scroll="out"] {
  opacity: 0;
  transform: translateX(100px);
}






.txt_animate[data-scroll] {
  transition: .4s ;
}


.txt_animate[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}

.txt_animate[data-scroll="out"] {
  opacity: 0;
  transform: translateX(30px);
}




.process_screen_animate[data-scroll] {
  transition: 1s;
}


.process_screen_animate[data-scroll="in"] {
  filter: grayscale(0%);
  opacity: 1;
}

.process_screen_animate[data-scroll="out"] {
  filter: grayscale(100%);
  opacity: .1;
}


.process_screen_animate[data-scroll] .process_steps__screen__content__line {transition: .5s ;}

.process_screen_animate[data-scroll="in"] .process_steps__screen__content__line {width: 400px;}

.process_screen_animate[data-scroll="out"] .process_steps__screen__content__line {width: 100px;}



.process_screen_animate[data-scroll] p,
.process_screen_animate[data-scroll] h4{
  transition: .5s ;
}


.process_screen_animate[data-scroll="in"] p,
.process_screen_animate[data-scroll="in"] h4{
  transform: translateX(0);
}

.process_screen_animate[data-scroll="out"] p,
.process_screen_animate[data-scroll="out"] h4{
  transform: translateX(-50px);
}





.beginning__txt__line[data-scroll="in"]{
  width: 100%;
  opacity: 1;
}

.beginning__txt__line[data-scroll="out"]{
  width: 50%;
  opacity: .1;
}






/* .learning_screen[data-scroll="in"]{
  opacity: 1;
}

.learning_screen[data-scroll="out"] {
  opacity: .2;
} */









.teachers__card[data-scroll="in"] .teachers__info{
  transform: translateX(0);
  color: #000;
}

.teachers__card[data-scroll="out"] .teachers__info{
  transform: translateX(-318px);
  color: #fff;
}


.teachers__card[data-scroll="in"] .teachers__avatar:after{
  background: rgba(0, 95, 182, 0);
}

.teachers__card[data-scroll="out"] .teachers__avatar:after{
  background: rgba(0, 95, 182, 0.6);
}














.form_input {
  position: relative;
  height: 92px;
  grid-column: 1/2
}

.form_input__field {
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  width: 50%;
  height: inherit;
  box-shadow: 0 2px 0 rgba(0,0,0,.2);
  font-size: 36px;
  transition: .4s;
  font-weight: 700;
  overflow: visible;
}

.form_input span {
  font-weight: 700;
  font-size: 36px;
  position: absolute;
  left: 0px;
  bottom: 24px;
  opacity: .3;
  transition: .4s;
  transform-origin: left;
}

.form_input__field:focus {
  outline: none;
  width: 90%;
  box-shadow: 0 2px 0 rgba(0,0,0,1);
}

.form_input__field__filled {
  width: 90%;
}

.form_input__field:focus ~ span,
.form_input__field__filled ~ span {
  transform: scale(.5) translateY( -80px);
  opacity: 1;
}

.form_close {
  position: absolute;
  top: 0;
  right: 10vw;
  width: 60px;
  height: 60px;
  background: url(img/form_close.svg);
  background-size: cover;
  opacity: .2;

}

.form_close:hover {
  opacity: 1;
  transition: .4s;
}











.pay_form, .free_form {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: -3;
  opacity: 0;
}

.pay_form__bg {
  background: #ededed;
  transform-origin: left;
  transform: scaleX(0);
}

.pay_form__window {
  position: absolute;
  top: 100px;left: 0;right: 0; bottom: 100px;
  padding: 0 10vw;
  display: grid;
  align-items: end;
}

.pay_form__inputs {
  display: grid;
  grid-row-gap: 80px;
}

.pay_form__title {
  align-self: start;
  /* grid-column: 1/3; */
}


.pay_form__window .blue_button {
  height: 66px;
  border: none;
  color: #fff;
  width: 240px;
}

.pay_form__buttons {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
}

.pay_form__buttons label {
  height: 66px;
  font-weight: 500;
  text-align: center;
  padding: 20px 50px;
  transition: .4s;
  border: 2px solid rgba(0,0,0,.1);
}

.pay_form__buttons label:hover {
  border: 2px solid rgba(0,0,0,1);
}










.free_form__bg {
  background: #1c1c1c;
  transform-origin: left;
  transform: scaleX(0);
}

.free_form__window {
  position: absolute;
  top: 100px;left: 0;right: 0; bottom: 100px;
  padding: 0 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  color: #fff;
}

.free_form__inputs {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
  align-items: end;
}


.free_form__inputs .form_input:nth-child(3) {
  height: auto;
  margin-top: 22px;
}

.form_input__textarea  {
  height: 70px;
  resize: none;
}


.form_input__textarea ~ span {
  top: 0;
  bottom: auto;
}

.free_form__title {
  grid-column: 1/3;
  align-self: start;
}


.free_form__window .blue_button {
  border: none;
  color: #fff;
  width: 200px;
  height: 66px;
}

.free_form__buttons {
  display: flex;
  justify-content: flex-end;
}

.free_form__buttons label {
  height: 66px;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-align: center;
  padding: 20px 30px;
  transition: .4s;
  border: 2px solid rgba(255,255,255,.1);
  margin-right: 30px;
  cursor: pointer;
}

.free_form__buttons label:hover {
  border: 2px solid rgba(255,255,255,1);
}



.free_form__window .form_input {
  grid-column: 1/2;
}


.free_form__window  .form_input__field {
  box-shadow: 0 2px 0 rgba(255,255,255,.2);
  color: #fff;
}

.free_form__window  .form_input__field:focus {
  box-shadow: 0 2px 0 rgba(255,255,255,1);
}

.free_form__window .form_close {
  filter: invert(100%);
}


.free_form__window .form_input__field:focus {
  width: 90%;
}













#pay_form:checked ~ .pay_form, #free_form:checked ~ .free_form{
  animation: pay_form 1.2s ease-in-out forwards;
}

#pay_form:checked ~ .pay_form .pay_form__bg {
  animation: pay_form__bg 1.2s ease-in-out forwards;
}


#pay_form:checked ~ .pay_form .pay_form__window,
#free_form:checked ~ .free_form .free_form__window{
  animation: pay_form__window 1.2s ease-in-out forwards;
}





#pay_form_close:checked ~ .pay_form{
  animation: pay_form__close 1.2s ease-in-out forwards;
}


#pay_form_close:checked ~ .pay_form .pay_form__bg{
  transform-origin: right;
  animation: pay_form__bg__close 1.2s ease-in-out forwards;
}


#pay_form_close:checked ~ .pay_form .pay_form__window,
#free_form_close:checked ~ .free_form .free_form__window{
  animation: pay_form__window__close 1.2s ease-in-out forwards;
}








#free_form:checked ~ .pay_form {
  animation: pay_form__close2 1.2s ease-in-out forwards;
}

#free_form:checked ~ .pay_form .pay_form__bg {
  animation: pay_form__bg__close2 1.2s ease-in-out forwards;
}

#free_form_close:checked ~ .free_form{
  animation: free_form__close 1.2s ease-in-out forwards;
}

#free_form_close:checked ~ .free_form .free_form__bg{
  transform-origin: right;
  animation: free_form__bg__close 1.2s ease-in-out forwards;
}

#free_form:checked ~ .free_form .free_form__bg{
  animation: free_form__bg 1.2s ease-in-out forwards;
}








@keyframes pay_form {
  0%{z-index: -3; opacity: 0;}
  1%{z-index: 102; opacity: 1;}
  100%{z-index: 102; opacity: 1;}
}

@keyframes pay_form__bg {
  0%{transform: scaleX(0);}
  1%{transform: scaleX(0);}
  50% {background: #ededed;}
  80%{transform: scaleX(1);}
  100%{transform: scaleX(1); background: #fff;}
}



@keyframes pay_form__window {
  0%{opacity: 0;}
  80%{opacity: 0;}
  100%{opacity: 1;}
}





@keyframes pay_form__close {
  0%{z-index: 102; opacity: 1;}
  99%{z-index: 102; opacity: 1;}
  100%{z-index: -3; opacity: 0;}
}

@keyframes pay_form__bg__close {
  0%{transform: scaleX(1); background: #fff;}
  20%{transform: scaleX(1);}
  50% {background: #ededed;}
  99%{transform: scaleX(0);}
}

@keyframes pay_form__bg__close2 {
  0%{transform: scaleX(1); background: #fff;}
  100%{transform: scaleX(1);background: #fff;}
}



@keyframes pay_form__window__close {
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 0;}
}





@keyframes pay_form__close2 {
  0%{z-index: 102; opacity: 1;}
  99%{z-index: 102; opacity: 1;}
  100%{z-index: -3; opacity: 0;}
}



@keyframes free_form__close {
  0%{z-index: 101; opacity: 1;}
  99%{z-index: 101; opacity: 1;}
  100%{z-index: -3; opacity: 0;}
}


@keyframes free_form__bg__close {
  0%{transform: scaleX(1);}
  20%{transform: scaleX(1);}
  99%{transform: scaleX(0);}
}

@keyframes free_form__bg {
  0%{transform: scaleX(0);}
  1%{transform: scaleX(0);}
  80%{transform: scaleX(1);}
  100%{transform: scaleX(1);}
}






#pay_form_close, #free_form_close, #pay_form, #free_form, #free_form__file, #drawer {
  display: none;
}































.levels {
  width: 100%;
  padding: 300px 10vw 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3vw;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.levels h1 {
  grid-column: 1/3;
  padding-bottom: 10%;
}


.levels__card {
  padding: 30px;
  border-left: 4px solid #0066E0;
  background: #fff;
  transform-origin: left;
  transform: rotateY(0);
  opacity: 1;
  box-shadow: 0 2px 10px rgba(0,0,0,.07);
  transition: .8s;
}

.levels__card p {
  width: 50%;
  margin-top: 20px;
}

.levels__card img,
.rates__img {
  position: absolute;
  right: 30px;
  top: 30px;
}





.features {
  width: 100%;
  padding: 200px 10vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3vw;
  transform-style: preserve-3d;
  perspective: 1000px;
}


.features h1 {
  grid-column: 1/5;
  padding-bottom: 100px;
}


.features__card {
  transition: .6s;
  transform-origin: left;
}


.features__card__img {
  width: 100px;
  height: 100px;
  border: 2px solid #0066E0;
  /* background: url(img/features/arrow.svg); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__card__img img {
  width: 80px;
}


.features__card  h4 {
  margin: 20px 0;
}

.features__card  p {
  max-width: 300px;
}


.features .features__card:nth-child(3){
  transition: .6s .2s;
}

.features .features__card:nth-child(4){
  transition: .6s .4s;
}

.features .features__card:nth-child(5){
  transition: .6s .6s;
}











.rates {
  width: 100%;
  padding: 200px 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3vw;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.rates h1, .rates h4 {
  grid-column: 1/3;
}


.rates h4 {
  font-weight: 500;
  margin: 30px 0 100px;
  max-width: 800px;
}

.rates__card {
  position: relative;
  padding: 30px;
  transform-origin: left;
  transition: .8s;
  display: grid;
  grid-row-gap: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,.07);
}

.rates__card h3 {
  margin-bottom: 20px;
}

.rates__card p {
  max-width: 300px;
}

.rates__arrow {
  position: absolute;
  bottom: 30px;
  right: 30px;
  opacity: .2;
  transition: .4s;
}

.rates__card:hover {
  box-shadow: 0 4px 30px rgba(0,0,0,.15);
  transition: .4s;
}

.rates__card:hover .rates__arrow {
  opacity: 1;
}













.steps {
  position: relative;
  width: 100%;
  padding: 200px 10vw;
  display: grid;
}

.steps h4 {
  font-weight: 500;
  margin: 30px 0 150px;
  max-width: 800px;
}

.steps__cards {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.steps__cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
  transform-origin: left;
}


.steps__cards .steps__cards__item:nth-child(1) {
  justify-self: start;
  transition: .6s;
}

.steps__cards .steps__cards__item:nth-child(2) {
  justify-self: center;
  transition: .6s .4s;
}


.steps__cards .steps__cards__item:nth-child(3) {
  justify-self: end;
  transition: .6s .8s;
}


.steps__card__number {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  -webkit-text-stroke: 2px black;
  color: #fff;
}


.steps__cards__item p,
.steps__cards__item h5 {

}

.steps__cards__item h5 {
  margin: 20px 0;
}


.steps__points {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}


.steps__points__item {
  display: flex;
}

.steps__points .steps__points__item:nth-child(1) {
  justify-self: end;
}

.steps__points .steps__points__item:nth-child(2) {
  grid-column: 3/4;
}

.steps__points__item div{
  width: 12px;
  height: 12px;
  border: 2px solid #0066E0;
  margin-right: 20px;
  border-radius: 40%;
  animation: steps__points 1s linear 0s infinite;
  transform-origin: center;
}

@keyframes steps__points {
  to {transform: rotate(360deg);}
}






.pluses {
  position: relative;
  width: 100%;
  padding: 200px 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.pluses h1 {
  grid-column: 1/4;
  margin-bottom: 150px;
}

.pluses__card {
  max-width: 300px;
  transition: .6s;
  transform-origin: left;
}


.pluses .pluses__card:nth-child(3) {
  transition: .6s .2s;
}

.pluses .pluses__card:nth-child(4) {
  transition: .6s .4s;
}

.pluses__card h4 {
  margin: 80px 0 20px;
}

.pluses__card__img {
  width: 50px;
  height: 30px;
  position: relative;
  transform: rotate(-45deg);
  transform-origin: right center;
}

.pluses__card__img:before,
.pluses__card__img:after {
  content: '';
  position: absolute;
  bottom: 0;
  background: #0066E0;
}

.pluses__card__img:before{
  top: 0;
  width: 4px;
}

.pluses__card__img:after {
  left: 0;
  right: 0;
  height: 4px;
}









.card_animate[data-scroll="out"] {
  transform: rotateY(-20deg);
  opacity: 0;
}

.levels__card[data-scroll="out"],
.rates__card[data-scroll="out"]{
  box-shadow: 0 8px 50px rgba(0,0,0,.5);
}
